section
{
    box-sizing: border-box;
    float: left;
    position: relative;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
}

section>.utility-container
{
    box-sizing: border-box;
    height: 48px;
    padding: 10px 5px;
    background-color: #6f74dd;
}

.utility-search-component
{
    width: 50%;
    float: left;
}

.utility-misc-component
{
    width: 50%;
}

.utility-misc-component.nav-right *
{
    margin: 0 4px;
}

.utility-misc-component>.utility-icon
{
    float: right;
}

.utility-icon
{
    color: white;
    font-size: 29px;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

.utility-icon.active
{
    color: #ff4081;;
}

.input-group
{
    width: 100%;
}

.input-group *
{
    float: left;
}

.input-group>input
{
    box-sizing: border-box;
    width: 80%;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: solid white 2px;
    margin-left: 5px;
    -webkit-transition: ease all 0.1s;
    -moz-transition: ease all 0.1s;
    -ms-transition: ease all 0.1s;
    -o-transition: ease all 0.1s;
    transition: ease all 0.1s;
}

.input-group>input::-webkit-input-placeholder
{
    color: white;
}

.input-group>input::-moz-placeholder
{
    color: white;
}

.input-group>input:-ms-input-placeholder
{
    color: white;
}

.input-group>input:focus
{
    outline: none;
    border-bottom: solid white 5px;
}

section>.content-container
{
    padding: 10px;
    width: 100%;
    height: calc(100vh - 105px);
    box-sizing: border-box;
    overflow-y: scroll;
}

section.content>.content-container
{
    overflow:hidden;
    position: relative;
    padding: 0;
}

.sidebar
{
    width: 30%;
}

.content
{
    width: 70%;
}

.toggle-add-employee
{
    position: absolute;
    top: 50%;
    right: 10px;
}

.toggle-delete-employee
{
    display: none;
    position: fixed;
    background-color: red;
}

.large
{
    height: 32px;
    width: 32px;
    font-size: 32px;
    margin-top: 6px;
}

.utility-chip
{
    background-color: lightgray;
    padding: 5px;
    border-radius: 100px;
    cursor: default;
}

#sidebar-cover
{
    display: none;
    width: 100%;
    height: calc(100vh - 56px);
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

#sidebar-cover.shown
{
    display: block;
}

/deep/ .mat-tab-label
{
    box-sizing: border-box;
    min-width: 16.6666667%!important;
}

/deep/ .mat-chip-list
{
    float: right;
}

@media only screen and (max-width: 1024px) {
    .content
    {
        width:100%;
    }

    .sidebar
    {
        width: 40%;
        left: -40%;
        position: fixed;
        z-index: 3;
        background-color: white;
        height: calc(100vh - 56px);

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .sidebar.shown
    {
        left: 0;
    }

    .utility-misc-component.nav-right *
    {
        margin: 0 5px;
    }

    .utility-search-component
    {
        width: 45%;
    }

    .utility-search-component .utility-icon
    {
        display: none;
    }

    .utility-misc-component
    {
        width: 55%;
    }

    .delete-icon
    {
        display: none;
    }

    .utility-icon
    {
        height: 100%;
        width: 20%;
    }

    .input-group>input
    {
        width: 100%;
    }

    .toggle-add-employee
    {
        position: fixed;
        top: 50%;
        right: 30px;
    }

    .toggle-delete-employee
    {
        display: block;
        top: 57%;
        right: 30px;
    }

}

@media only screen and (max-width: 600px) {
    .sidebar
    {
        width: 70%;
        left: -70%;
    }

    .toggle-add-employee
    {
        position: fixed;
        top: 110px;
        right: 10px;
    }

    .toggle-delete-employee
    {
        display: block;
        top: 160px;
        right: 10px;
    }
}